.button-container {
  position: relative;
  display: inline-block;
}

.animated-button {
  padding: 12px 40px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(45deg, #00b4d8, #9d4edd);
  color: white;
  border-radius: 10px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animated-button .button-text {
  position: relative;
  z-index: 10;
}

.polygon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.polygon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%, 50% 0%);
  opacity: 0;
  pointer-events: none;
  animation: rotateAnimation 1.5s infinite ;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
    scale: 0.1;
    opacity: 0;
  }
  20% {
    transform: rotate(90deg);
    scale: 1;
    opacity: 1;
  }
  30% {
    transform: rotate(180deg);
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

.animated-button:hover .polygon-container .polygon {
  opacity: 1;
}
